/*=== MIXINS ===*/
/*=== VARIABLES ===*/
/*============ ANIMATE CSS =============*/
/*============ COLOR CLASSES =============*/
/* line 21, src/sass/partials/_variables.scss */
.text-primary {
  color: #F45C5D !important;
}

/* line 24, src/sass/partials/_variables.scss */
.text-white {
  color: #ffffff !important;
}

/* line 27, src/sass/partials/_variables.scss */
.bg-sand {
  background-color: #f5f5f6;
}

/* line 30, src/sass/partials/_variables.scss */
.bg-gray {
  background-color: #cccccc;
}

/* line 33, src/sass/partials/_variables.scss */
.bg-primary {
  background-color: #F45C5D !important;
}

/* line 36, src/sass/partials/_variables.scss */
.no-bg {
  background-color: transparent;
}

/* line 39, src/sass/partials/_variables.scss */
.bordered {
  border: 1px solid #d6dbe2;
}

/* line 43, src/sass/partials/_variables.scss */
.brd-gray {
  border-color: #cccccc !important;
}

/* line 46, src/sass/partials/_variables.scss */
.brd-primary {
  border-color: #F45C5D !important;
}

/* Background Colors */
/* line 51, src/sass/partials/_variables.scss */
.bg-white {
  background-color: #ffffff !important;
}

/* line 54, src/sass/partials/_variables.scss */
.bg-dark {
  background-color: #1d2025 !important;
}

/* line 57, src/sass/partials/_variables.scss */
.bg-faded {
  background-color: #f5f5f6;
}

/*============ FUNCTIONS =============*/
/*=== MEDIA QUERY ===*/
/*!
Animate.css - http://daneden.me/animate
Licensed under the MIT license - http://opensource.org/licenses/MIT
Copyright (c) 2015 Daniel Eden
*/
/* line 8, node_modules/animate-sass/helpers/_base.scss */
body {
  -webkit-backface-visibility: hidden;
}

/* line 12, node_modules/animate-sass/helpers/_base.scss */
.animated, .section-category .section__image img {
  -webkit-animation-duration: calc( 0.3s);
  animation-duration: calc( 0.3s);
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* line 16, node_modules/animate-sass/helpers/_base.scss */
.animated.infinite, .section-category .section__image img.infinite {
  animation-iteration-count: infinite;
}

/* line 20, node_modules/animate-sass/helpers/_base.scss */
.animated.hinge, .section-category .section__image img.hinge {
  -webkit-animation-duration: calc( 0.3s * 2);
  animation-duration: calc( 0.3s * 2);
}

/* line 24, node_modules/animate-sass/helpers/_base.scss */
.animated.bounceIn, .section-category .section__image img.bounceIn, .animated.bounceOut, .section-category .section__image img.bounceOut {
  -webkit-animation-duration: calc( 0.3s * 0.75);
  animation-duration: calc( 0.3s * 0.75);
}

/* line 29, node_modules/animate-sass/helpers/_base.scss */
.animated.flipOutX, .section-category .section__image img.flipOutX, .animated.flipOutY, .section-category .section__image img.flipOutY {
  -webkit-animation-duration: calc( 0.3s * 0.75);
  animation-duration: calc( 0.3s * 0.75);
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* line 8, node_modules/animate-sass/animations/fade-enter/_fadeIn.scss */
.fadeIn, .section-category .section__image .section__link:hover .product-image-using, .section-category .section__image .section__link:focus .product-image-using, .section-category .section__image .section__linkactive .product-image-using {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* line 27, node_modules/animate-sass/animations/fade-enter/_fadeInDown.scss */
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

@-webkit-keyframes fadeInDownBig {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@keyframes fadeInDownBig {
  0% {
    opacity: 0;
    transform: translateY(-2000px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* line 27, node_modules/animate-sass/animations/fade-enter/_fadeInDownBig.scss */
.fadeInDownBig {
  -webkit-animation-name: fadeInDownBig;
  animation-name: fadeInDownBig;
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* line 27, node_modules/animate-sass/animations/fade-enter/_fadeInLeft.scss */
.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}

@keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    transform: translateX(-2000px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* line 27, node_modules/animate-sass/animations/fade-enter/_fadeInLeftBig.scss */
.fadeInLeftBig {
  -webkit-animation-name: fadeInLeftBig;
  animation-name: fadeInLeftBig;
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* line 27, node_modules/animate-sass/animations/fade-enter/_fadeInRight.scss */
.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

@-webkit-keyframes fadeInRightBig {
  0% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}

@keyframes fadeInRightBig {
  0% {
    opacity: 0;
    transform: translateX(2000px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* line 27, node_modules/animate-sass/animations/fade-enter/_fadeInRightBig.scss */
.fadeInRightBig {
  -webkit-animation-name: fadeInRightBig;
  animation-name: fadeInRightBig;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* line 27, node_modules/animate-sass/animations/fade-enter/_fadeInUp.scss */
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-webkit-keyframes fadeInUpBig {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2000px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@keyframes fadeInUpBig {
  0% {
    opacity: 0;
    transform: translateY(2000px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* line 27, node_modules/animate-sass/animations/fade-enter/_fadeInUpBig.scss */
.fadeInUpBig {
  -webkit-animation-name: fadeInUpBig;
  animation-name: fadeInUpBig;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* line 8, node_modules/animate-sass/animations/fade-exit/_fadeOut.scss */
.fadeOut, .section-category .section__image .section__link:hover .product-image-front, .section-category .section__image .section__link:focus .product-image-front, .section-category .section__image .section__linkactive .product-image-front {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

@-webkit-keyframes fadeOutDown {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
  }
}

@keyframes fadeOutDown {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}

/* line 27, node_modules/animate-sass/animations/fade-exit/_fadeOutDown.scss */
.fadeOutDown {
  -webkit-animation-name: fadeOutDown;
  animation-name: fadeOutDown;
}

@-webkit-keyframes fadeOutDownBig {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(2000px);
  }
}

@keyframes fadeOutDownBig {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(2000px);
  }
}

/* line 27, node_modules/animate-sass/animations/fade-exit/_fadeOutDownBig.scss */
.fadeOutDownBig {
  -webkit-animation-name: fadeOutDownBig;
  animation-name: fadeOutDownBig;
}

@-webkit-keyframes fadeOutLeft {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
  }
}

@keyframes fadeOutLeft {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-20px);
  }
}

/* line 27, node_modules/animate-sass/animations/fade-exit/_fadeOutLeft.scss */
.fadeOutLeft {
  -webkit-animation-name: fadeOutLeft;
  animation-name: fadeOutLeft;
}

@-webkit-keyframes fadeOutLeftBig {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
  }
}

@keyframes fadeOutLeftBig {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-2000px);
  }
}

/* line 27, node_modules/animate-sass/animations/fade-exit/_fadeOutLeftBig.scss */
.fadeOutLeftBig {
  -webkit-animation-name: fadeOutLeftBig;
  animation-name: fadeOutLeftBig;
}

@-webkit-keyframes fadeOutRight {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(20px);
  }
}

@keyframes fadeOutRight {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(20px);
  }
}

/* line 27, node_modules/animate-sass/animations/fade-exit/_fadeOutRight.scss */
.fadeOutRight {
  -webkit-animation-name: fadeOutRight;
  animation-name: fadeOutRight;
}

@-webkit-keyframes fadeOutRightBig {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
  }
}

@keyframes fadeOutRightBig {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(2000px);
  }
}

/* line 27, node_modules/animate-sass/animations/fade-exit/_fadeOutRightBig.scss */
.fadeOutRightBig {
  -webkit-animation-name: fadeOutRightBig;
  animation-name: fadeOutRightBig;
}

@-webkit-keyframes fadeOutUp {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
  }
}

@keyframes fadeOutUp {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}

/* line 27, node_modules/animate-sass/animations/fade-exit/_fadeOutUp.scss */
.fadeOutUp {
  -webkit-animation-name: fadeOutUp;
  animation-name: fadeOutUp;
}

@-webkit-keyframes fadeOutUpBig {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
  }
}

@keyframes fadeOutUpBig {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-2000px);
  }
}

/* line 27, node_modules/animate-sass/animations/fade-exit/_fadeOutUpBig.scss */
.fadeOutUpBig {
  -webkit-animation-name: fadeOutUpBig;
  animation-name: fadeOutUpBig;
}

/**
 TODO:
  - Fazer JS do hover do menu ( desktop );
  - Fazer JS para abrir e fechar o menu ( mobile );
  - Remover o background cinza;
**/
/* line 8, src/sass/_header.scss */
body {
  background-color: gray;
}

/* line 12, src/sass/_header.scss */
.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 0;
  background: transparent;
  z-index: 52;
}

/* line 26, src/sass/_header.scss */
.header.dropdown-opened .header__content .nav__bar .nav__bar--links > li > .nav__bar--link {
  color: #494d51;
}

/* line 35, src/sass/_header.scss */
.header.dropdown-opened .header__content .options > div a {
  color: #494d51;
}

/* line 43, src/sass/_header.scss */
.header__content {
  height: 60px;
  background-color: #ffffff;
  position: relative;
  box-sizing: border-box;
  width: 100%;
}

@media (min-width: 992px) {
  /* line 43, src/sass/_header.scss */
  .header__content {
    background-color: transparent;
    height: auto;
    width: auto;
  }
}

/* line 56, src/sass/_header.scss */
.header__content .logo {
  display: block;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  width: 100%;
  max-width: 96px;
  margin: 0 auto;
  z-index: 3;
  left: 0;
  right: 0;
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* line 71, src/sass/_header.scss */
.header__content .logo img {
  width: 100%;
  vertical-align: inherit;
}

@media (min-width: 992px) {
  /* line 56, src/sass/_header.scss */
  .header__content .logo {
    left: 25px;
    right: auto;
  }
}

/* line 82, src/sass/_header.scss */
.header__content .nav__bar {
  display: none;
}

@media (min-width: 992px) {
  /* line 82, src/sass/_header.scss */
  .header__content .nav__bar {
    display: block;
  }
}

/* line 89, src/sass/_header.scss */
.header__content .nav__bar .nav__bar--links {
  margin: 0;
  text-align: center;
  padding-left: 40px;
  list-style: none;
}

/* line 96, src/sass/_header.scss */
.header__content .nav__bar .nav__bar--links > li > .nav__bar--link {
  padding: 0px;
  margin: 20px 22px 15px;
  background: transparent;
  position: relative;
  z-index: 1;
  color: #ffffff;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -ms-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  display: inline-block;
  font-size: 16px;
  line-height: 1.6;
  font-weight: 400;
}

/* line 112, src/sass/_header.scss */
.header__content .nav__bar .nav__bar--has-dropdown {
  position: static;
  display: inline-block;
}

/* line 116, src/sass/_header.scss */
.header__content .nav__bar .nav__bar--has-dropdown::before {
  content: " ";
  background-color: #ffffff;
  position: absolute;
  left: 0;
  right: 0;
  height: 60px;
  display: none;
}

/* line 127, src/sass/_header.scss */
.header__content .nav__bar .nav__bar--has-dropdown.nav-hover::before {
  display: block;
}

/* line 131, src/sass/_header.scss */
.header__content .nav__bar .nav__bar--has-dropdown.nav-hover .nav__bar--dropdown {
  display: block;
}

/* line 136, src/sass/_header.scss */
.header__content .nav__bar .nav__bar--has-dropdown .nav__bar--dropdown {
  left: 0;
  right: 0;
  background: #ffffff;
  text-align: center;
  top: 60px;
  display: none;
  position: absolute;
  margin: 0;
  z-index: 5;
}

/* line 147, src/sass/_header.scss */
.header__content .nav__bar .nav__bar--has-dropdown .nav__bar--dropdown > li {
  position: static;
  display: inline-block;
}

/* line 151, src/sass/_header.scss */
.header__content .nav__bar .nav__bar--has-dropdown .nav__bar--dropdown > li > .nav__bar--link {
  display: inline-block;
  color: #494d51;
  margin: 75px 22px 112px;
  padding: 0;
}

/* line 162, src/sass/_header.scss */
.header__content .options {
  position: absolute;
  top: 50%;
  right: 20px;
  left: 20px;
  text-align: right;
  display: inline-block;
  vertical-align: top;
  line-height: 1;
  box-sizing: border-box;
  width: auto;
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media (min-width: 992px) {
  /* line 162, src/sass/_header.scss */
  .header__content .options {
    right: 25px;
    left: auto;
  }
}

/* line 180, src/sass/_header.scss */
.header__content .options > div {
  margin: 0 7px;
  display: inline-block;
  vertical-align: top;
  margin: 0 13px;
  cursor: pointer;
}

/* line 187, src/sass/_header.scss */
.header__content .options > div a {
  color: #494d51;
}

@media (min-width: 992px) {
  /* line 187, src/sass/_header.scss */
  .header__content .options > div a {
    color: #ffffff;
  }
}

/* line 196, src/sass/_header.scss */
.header__content .options .options__nav {
  float: left;
}

@media (min-width: 992px) {
  /* line 196, src/sass/_header.scss */
  .header__content .options .options__nav {
    display: none;
  }
}

/* line 204, src/sass/_header.scss */
.header__content .options .options__search {
  float: left;
}

/* line 211, src/sass/_header.scss */
.nav__bar--mobile {
  background-color: #ffffff;
  -webkit-transform: translateZ(0);
  will-change: transform;
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  top: 0;
  bottom: 0;
  left: -315px;
  padding: 0;
  border: none;
  max-width: 315px;
  width: calc(100% - 60px);
  z-index: 1002;
  -webkit-transition: all 0.4s cubic-bezier(0.46, 0.01, 0.32, 1);
  -moz-transition: all 0.4s cubic-bezier(0.46, 0.01, 0.32, 1);
  -ms-transition: all 0.4s cubic-bezier(0.46, 0.01, 0.32, 1);
  -o-transition: all 0.4s cubic-bezier(0.46, 0.01, 0.32, 1);
  transition: all 0.4s cubic-bezier(0.46, 0.01, 0.32, 1);
}

/* line 229, src/sass/_header.scss */
.nav__bar--mobile.nav__bar--opended {
  display: block;
  left: 0;
}

/* line 234, src/sass/_header.scss */
.nav__bar--mobile-close {
  padding: 20px;
  height: auto;
}

/* line 238, src/sass/_header.scss */
.nav__bar--mobile-close .btn-close {
  background-color: transparent;
  color: #494d51;
}

/* line 244, src/sass/_header.scss */
.nav__bar--mobile .nav__bar--links {
  background: #ffffff;
  margin: 40px 0 0;
  width: 200%;
  position: relative;
  left: 0;
  height: calc(100vh - 160px);
  list-style: none;
  padding: 0;
  -webkit-transition: all 0.25s ease-in;
  -moz-transition: all 0.25s ease-in;
  -ms-transition: all 0.25s ease-in;
  -o-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}

/* line 255, src/sass/_header.scss */
.nav__bar--mobile .nav__bar--links.nav__bar--mobile-expanded {
  left: -100%;
}

/* line 259, src/sass/_header.scss */
.nav__bar--mobile .nav__bar--links .nav__bar--has-dropdown {
  background: transparent;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  position: initial;
  z-index: 1;
  margin-bottom: 0;
  display: table;
  width: 100%;
}

/* line 270, src/sass/_header.scss */
.nav__bar--mobile .nav__bar--links .nav__bar--has-dropdown.nav__bar--expanded {
  z-index: 2;
}

/* line 273, src/sass/_header.scss */
.nav__bar--mobile .nav__bar--links .nav__bar--has-dropdown.nav__bar--expanded .nav__bar--dropdown {
  height: 100%;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$value)";
  filter: alpha(opacity=1);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}

/* line 279, src/sass/_header.scss */
.nav__bar--mobile .nav__bar--links .nav__bar--has-dropdown .nav__bar--link {
  padding: 0;
  color: #494d51;
  line-height: 1;
  font-size: 21px;
}

/* line 286, src/sass/_header.scss */
.nav__bar--mobile .nav__bar--links .nav__bar--has-dropdown .nav__bar--dropdown {
  margin: 0;
  height: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$value)";
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  top: 0;
  position: absolute;
  right: 20px;
  left: calc(50% + 20px);
  max-height: 100%;
  visibility: visible;
  overflow: hidden;
  list-style: none;
  padding: 0;
  -webkit-transition: all 300ms cubic-bezier(0.57, 0.06, 0.05, 0.95);
  -moz-transition: all 300ms cubic-bezier(0.57, 0.06, 0.05, 0.95);
  -ms-transition: all 300ms cubic-bezier(0.57, 0.06, 0.05, 0.95);
  -o-transition: all 300ms cubic-bezier(0.57, 0.06, 0.05, 0.95);
  transition: all 300ms cubic-bezier(0.57, 0.06, 0.05, 0.95);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* line 304, src/sass/_header.scss */
.nav__bar--mobile .nav__bar--links .nav__bar--has-dropdown .nav__bar--dropdown-close .nav__bar--link {
  font-size: 13px;
}

/* line 307, src/sass/_header.scss */
.nav__bar--mobile .nav__bar--links .nav__bar--has-dropdown .nav__bar--dropdown-close .nav__bar--link i {
  margin-right: 10px;
}

/* line 313, src/sass/_header.scss */
.nav__bar--mobile .nav__bar--links .nav__bar--has-dropdown .nav__bar--dropdown li {
  padding-bottom: 20px;
  background: transparent;
  padding-bottom: 25px;
  position: initial;
  margin-bottom: 0;
  z-index: 1;
}

/* line 1, src/sass/_footer.scss */
.footer {
  background-color: #000;
  padding-top: 50px;
}

/* line 5, src/sass/_footer.scss */
.footer__social {
  text-align: center;
  margin-bottom: 45px;
}

/* line 9, src/sass/_footer.scss */
.footer__social ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* line 12, src/sass/_footer.scss */
.footer__social ul li {
  display: inline-block;
  margin: 0 10px;
}

/* line 16, src/sass/_footer.scss */
.footer__social ul li a {
  color: #ffffff;
}

/* line 23, src/sass/_footer.scss */
.footer__info {
  text-align: center;
  margin-bottom: 45px;
}

/* line 27, src/sass/_footer.scss */
.footer__info h4 {
  color: #ffffff;
  font-size: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

/* line 34, src/sass/_footer.scss */
.footer__info-text {
  margin: 0 auto;
  max-width: 240px;
}

/* line 38, src/sass/_footer.scss */
.footer__info-text p {
  color: #ffffff;
  font-size: 14px;
}

/* line 45, src/sass/_footer.scss */
.footer__info-link a {
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
}

/* line 53, src/sass/_footer.scss */
.footer__menus {
  text-align: center;
  margin-bottom: 45px;
}

/* line 57, src/sass/_footer.scss */
.footer__menus h6 {
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

/* line 64, src/sass/_footer.scss */
.footer__menus ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 12px;
}

/* line 68, src/sass/_footer.scss */
.footer__menus ul li {
  margin-bottom: 5px;
}

/* line 72, src/sass/_footer.scss */
.footer__menus ul a {
  color: #b3b3b3;
  font-size: 12px;
}

@media (min-width: 992px) {
  /* line 80, src/sass/_footer.scss */
  .footer__order-1 {
    order: 1;
  }
}

@media (min-width: 992px) {
  /* line 86, src/sass/_footer.scss */
  .footer__order-2 {
    order: 2;
  }
}

@media (min-width: 992px) {
  /* line 92, src/sass/_footer.scss */
  .footer__order-3 {
    order: 3;
  }
}

/* line 97, src/sass/_footer.scss */
.footer__order-3 .footer__menus {
  display: none;
}

/* line 1, src/sass/_default.scss */
body {
  padding-top: 60px;
}

@media (min-width: 992px) {
  /* line 1, src/sass/_default.scss */
  body {
    padding-top: 0;
  }
}

/* line 10, src/sass/_default.scss */
.section {
  text-align: center;
}

/* line 13, src/sass/_default.scss */
.section .container-fluid {
  padding-left: 0;
  padding-right: 0;
}

/* line 18, src/sass/_default.scss */
.section__image {
  text-align: center;
  height: calc(100vh - 60px);
  position: relative;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

@media (min-width: 992px) {
  /* line 18, src/sass/_default.scss */
  .section__image {
    height: calc(100vh);
  }
}

/* line 31, src/sass/_default.scss */
.section__video {
  text-align: center;
  height: calc(100vh - 60px);
  position: relative;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

/* line 39, src/sass/_default.scss */
.section__video iframe {
  height: 100vh !important;
}

@media (min-width: 992px) {
  /* line 39, src/sass/_default.scss */
  .section__video iframe {
    height: calc(100vh + 200px) !important;
  }
}

/* line 47, src/sass/_default.scss */
.section__video .inline-YTPlayer {
  height: 100vh !important;
  margin: 0 auto;
}

@media (min-width: 992px) {
  /* line 47, src/sass/_default.scss */
  .section__video .inline-YTPlayer {
    height: calc(100vh + 200px) !important;
  }
}

/* line 55, src/sass/_default.scss */
.section__video .inline-YTPlayer #youtube-player {
  height: 100vh !important;
}

@media (min-width: 992px) {
  /* line 55, src/sass/_default.scss */
  .section__video .inline-YTPlayer #youtube-player {
    height: calc(100vh + 200px) !important;
  }
}

/* line 65, src/sass/_default.scss */
.section__text {
  color: #ffffff;
  text-align: center;
  line-height: 1;
  z-index: 2;
}

/* line 72, src/sass/_default.scss */
.section__link {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

/* line 80, src/sass/_default.scss */
.section__link .section__text {
  position: absolute;
  left: 50%;
  font-size: 30px;
  bottom: 60px;
  -moz-transform: translate3d(-50%, 0, 0);
  -o-transform: translate3d(-50%, 0, 0);
  -ms-transform: translate3d(-50%, 0, 0);
  -webkit-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0);
}

/* line 87, src/sass/_default.scss */
.section__link .section__text span {
  display: block;
  margin-bottom: 20px;
  font-size: 12px;
}

/* line 95, src/sass/_default.scss */
.section__carousel {
  background-color: #ffffff;
  text-align: center;
  height: calc(100vh);
  position: relative;
}

/* line 101, src/sass/_default.scss */
.section__carousel .carousel {
  overflow: hidden;
  height: 100%;
}

/* line 106, src/sass/_default.scss */
.section__carousel .carousel-item {
  overflow: hidden;
}

/* line 4, src/sass/_category.scss */
.section-category .container-fluid {
  padding: 0;
}

@media (min-width: 992px) {
  /* line 8, src/sass/_category.scss */
  .section-category--list {
    max-height: 400px;
    overflow: hidden;
  }
}

/* line 16, src/sass/_category.scss */
.section-category .section__image {
  height: 100%;
}

/* line 19, src/sass/_category.scss */
.section-category .section__image .section__link {
  position: static;
}

/* line 23, src/sass/_category.scss */
.section-category .section__image .section__link:hover .product-image-front, .section-category .section__image .section__link:focus .product-image-front, .section-category .section__image .section__linkactive .product-image-front {
  display: none;
}

/* line 28, src/sass/_category.scss */
.section-category .section__image .section__link:hover .product-image-using, .section-category .section__image .section__link:focus .product-image-using, .section-category .section__image .section__linkactive .product-image-using {
  display: block;
  visibility: visible;
}

/* line 36, src/sass/_category.scss */
.section-category .section__image img {
  width: 100%;
}

/* line 40, src/sass/_category.scss */
.section-category .section__image img.product-image-using {
  visibility: hidden;
  display: none;
}

/* line 46, src/sass/_category.scss */
.section-category .section__image .product-info-wrapper {
  padding: 0 20px;
  min-height: 70px;
  bottom: 0;
  position: absolute;
  z-index: 10;
  text-align: center;
  width: 100%;
}

/* line 55, src/sass/_category.scss */
.section-category .section__image .product-info-wrapper p {
  margin: 0 0 4px 0;
  font-size: 14px;
}

/* line 60, src/sass/_category.scss */
.section-category .section__image .product-info-wrapper span {
  font-size: 12px;
}

/*# sourceMappingURL=maps/style.css.map */
