.footer {
  background-color: #000;
  padding-top: 50px; 

  &__social {
    text-align: center;
    margin-bottom: 45px;

    ul {
      @include listStyle;

      li {
        display: inline-block;
        margin: 0 10px;

        a {
          color: $white-color;
        }
      }
    }
  }

  &__info {
    text-align: center;
    margin-bottom: 45px;

    h4 {
      color: $white-color;
      font-size: 20px;
      margin-bottom: 20px;
      text-transform: uppercase;
    }

    &-text {
      margin: 0 auto;
      max-width: 240px;

      p {
        color: $white-color;
        font-size: 14px;
      }
    }

    &-link {
      a {
        font-size: 14px;
        color: $white-color;
        text-transform: uppercase;
      }
    }
  }

  &__menus {
    text-align: center;
    margin-bottom: 45px;

    h6 {
      color: $white-color;
      font-size: 14px;
      text-transform: uppercase;
      margin-bottom: 20px;
    }

    ul {
      @include listStyle;
      margin-bottom: 12px;

      li {
        margin-bottom: 5px;
      }

      a {
        color: #b3b3b3;
        font-size: 12px;
      }
    }
  }

  &__newsletter {
    margin-bottom: 30px;

    .subheader {
      color: $white-color;
      display: inline-block;
      font-size: 12px;
      margin-bottom: 13px;
    }

    .form-group {
      margin-bottom: 0;
      width: 100%;
    }

    input {
      background-color: transparent;
      border-radius: 0;
      border: 0;
      color: $white-color;
      border-bottom: 2px solid #b3b3b3;

      &:hover, &:focus, &:active {
        background-color: transparent;
        color: $white-color;
        border-color: $white-color;
      }
    }

    form {
      display: flex;
    }

    .button {
      position: relative;

      input {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 2;
      }

      i {
        position: relative;
        z-index: 1;
        color: $white-color;
        top: 4px;
      }
    }
  }

  &__order {
    &-1 {
      @include desktops {
        order: 1;
      }
    }

    &-2 {
      @include desktops {
        order: 2;
      }
    }

    &-3 {
      @include desktops {
        order: 3;
      }
    }

    &-4 {
      .footer__menus {
        display: none;
      }

      @include desktops {
        order: 4;

        .footer__menus {
          display: block;
        }
      }
    }
  }

  .copyright {
    @include tablet {
      display: none;
    }

    color: $white-color;
    font-size: 14px;
    margin-bottom: 20px;
    text-align: center;
    display: block;
  }
}