.section-register {
  margin-bottom: 60px;

  @include desktops {
    padding-top: 120px;
    margin-bottom: 150px;
  }

  &__form  {
    max-width: 400px;
    min-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(80vh - 60px);

    @include desktops {
      margin: 0 auto;
    }

    form {
      width: 100%;
    }

    h1 {
      font-size: 20px;
      margin-bottom: 60px;
      text-align: center;
      font-weight: normal;
    }

    .actions {
      text-align: center;
      padding-top: 20px;
      
      a, span {
        display: block;
        font-size: 12px;
      }

      span {
        a {
          display: inline;
        }
      }
    }
  }
}