body {
  padding-top: 60px;

  @include desktops {
    padding-top: 0;
  }
}


.section {
  text-align: center;

  .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }

  &__image {
    text-align: center;
    height: calc(100vh - 60px);
    position: relative;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    @include desktops {
      height: calc(100vh);
    }
  }

  &__video {
    text-align: center;
    height: calc(100vh - 60px);
    position: relative;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    iframe {
      height: 100vh !important;

      @include desktops {
        height: calc(100vh + 200px) !important;
      }
    }

    .inline-YTPlayer{
      height: 100vh !important;
      margin: 0 auto;

      @include desktops {
        height: calc(100vh + 200px) !important;
      }

      #youtube-player {
        height: 100vh !important;

        @include desktops {
          height: calc(100vh + 200px) !important;
        }
      }
    }
  }

  &__text {
    color: $white-color;
    text-align: center;
    line-height: 1;
    z-index: 2;
  }

  &__link {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    .section__text {
      position: absolute;
      left: 50%;
      font-size: 30px;
      bottom: 60px;
      @include transform(translate3d(-50%, 0, 0));

      span {
        display: block;
        margin-bottom: 20px;
        font-size: 12px;
      }
    }
  }

  &__carousel {
    background-color: $white-color;
    text-align: center;
    height: calc(100vh);
    position: relative;
  }
}