/*#product-listing .product,
.dest-gral,
.dest{
	float:left;
	margin-left:10px;
	margin-top:10px;
}

.product-table{
	margin-bottom:10px;
	border-spacing:0;
}
*/
#slider li .description h1.title a{
font-size: 30px;
font-weight: bold;
line-height: 30px;
background:none;
font-family:Arial, Helvetica, sans-serif;
}
